<script>
    //格式化数据，千分号
    function formatNumber(number) {
        return new Intl.NumberFormat('en-US').format(number);
    }
	//格式化数据，byte转其他单位
    function formatBytes(bytes) {
        if (bytes === 0) return '0 B';
        const k = 1024;
        const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];
        const i = Math.floor(Math.log(bytes) / Math.log(k));
        return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];
    }

    Chart.register({
        id: 'customCenterText',
        afterDraw: (chart, args, options) => {
            if (chart.config.type === 'doughnut') {
                const { ctx, chartArea: { top, bottom, left, right } } = chart;
                const centerX = (left + right) / 2;
                const centerY = (top + bottom) / 2;
                const text = options.text;
                const fontSize = options.fontSize || 20;
                ctx.save();
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.font = `${fontSize}px Arial`;
                ctx.fillStyle = options.color || 'black';
                ctx.fillText(text, centerX, centerY);
                ctx.restore();
            }
        }
    });

    //各类型key的数量-图表配置
    var pieConfig0 = {
        type: 'doughnut',
        data: {
            datasets: [{
                label: '各类型key数量分布情况',
                data: [],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                hoverOffset: 4
            }],
            labels: []
        },
        options: {
            responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
            maintainAspectRatio: false,// 保持图表原有比例
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                legend: {
                    display: false,  //是否显示图例标签
                    position: 'left'
                },
                title: {
                    display: true,
                    text: '各类型key数量分布情况',
                    color: "#000",
                    font: {
                        size: 13,
                    },
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.label || '';
                            if (label) {
                                label += "：";
                            }
                            var value = context.raw;
                            //return label+value;
                            //alert(context.dataset.label);
                            return label+formatNumber(value); // 使用格式化函数;
                        }
                    }
                },
                customCenterText: {
                    text: 'Custom Text1',
                    fontSize: 18,
                    color: '#000'
                }
            }

        }
    };
    //各类型key内存占用情况-图表配置
    var pieConfig1 = {
        type: 'doughnut',
        data: {
            datasets: [{
                label: '各类型key内存占用情况',
                data: [],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                hoverOffset: 4
            }],
            labels: []
        },
        options: {
            responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
            maintainAspectRatio: false,// 保持图表原有比例
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                legend: {
                    display: false,  //是否显示图例标签
                    position: 'left'
                },
                title: {
                    display: true,
                    text: '各类型key内存占用情况',
                    color: "#000",
                    font: {
                        size: 13,
                    },
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.label || '';
                            if (label) {
                                label += "：";
                            }
                            var value = context.raw;
                            //return label+value;
                            //alert(context.dataset.label);
                           return label+formatBytes(value); // 使用格式化函数;
                        }
                    }
                },
                customCenterText: {
                    text: 'Custom Text2',
                    fontSize: 18,
                    color: '#000'
                }
            }

        }
    };

    /**
    * 用途：深拷贝带有函数的对象
    * 实现：在自定义序列化时，将函数转换为字符串并添加特殊标识包裹上，在反序列化时还原为函数
    */
    const prefix = '[[fn:';
    const suffix = ':fn]]';

    /**
    * 序列化时过滤处理.
    */
    function toJsonStr(obj, space) {
        return JSON.stringify(obj, (key, value) => {
            if (typeof value === 'function') {
                return prefix + value.toString() + suffix;
            } else if (typeof value === "undefined") {
                // 直接将undefined值的属性变成null值。
                return null;
            }
            return value;
        }, space);
    }
    /**
    * 反序列化（解析）过滤处理
    */
    function parseJson(jsonStr) {
        return JSON.parse(jsonStr, (key, value) => {
            if (typeof value === 'string' && value.startsWith(prefix) && value.endsWith(suffix)) {
                const fnStr = value.slice(prefix.length, -suffix.length);
                return new Function('return ' + fnStr)();
            }
            return value;
        });
    }

    window.onload = function() {

        //key数量和内存的饼图，本文件是生产图表，前端页面在revel.html
        //如果josn对象直接赋给另一个变量，返回的是同一个对象（自然取出的数据也是相同的），解决办法是先转字符串
        //注：JSON.stringify() 不会序列化对象的函数或者原型链上的属性。这意味着如果对象中包含函数或者需要通过原型链访问的属性，这些属性不会被包含在生成的 JSON 字符串中。
        //var rawPieConfig = JSON.stringify(pieConfig);
        //var pieConfig0 = JSON.parse(rawPieConfig);
        //var pieConfig1 = JSON.parse(rawPieConfig);

        //给环形图中间的自定义文字赋值
        pieConfig0.options.plugins.customCenterText.text = "总 "+{{humanizeComma .TotalNum}}
        pieConfig1.options.plugins.customCenterText.text = "总 "+{{humanizeBytes .TotalBytes}}


        {{range $type, $num := .TypeNum}}
        pieConfig0.data.datasets[0].data.push({{$num}});
        pieConfig1.data.datasets[0].data.push({{index $.TypeBytes $type}});
        pieConfig0.data.labels.push({{$type}});
        pieConfig1.data.labels.push({{$type}});
        {{end}}


        var pieCtx0 = document.getElementById("chart-area-0").getContext("2d");
        window.myPie0 = new Chart(pieCtx0, pieConfig0);
        var pieCtx1 = document.getElementById("chart-area-1").getContext("2d");
        window.myPie1 = new Chart(pieCtx1, pieConfig1);

        //以下是len lver的柱状图
        var count = {};
        {{range $type, $entries := .LenLevelCount}}
            var entries = [];
            {{range $entry := $entries}}
                entries.push({
                    label: {{$entry.Key}},
                    bytes: {{$entry.Bytes}},
                    num: {{$entry.Num}}
                });
            {{end}}
            count[{{$type}}] = entries;
        {{end}}

        for (typ in count) {
            var entries = count[typ];
            // var rawbarConfig = JSON.stringify(barConfig);
            // var barConfig0 = JSON.parse(rawbarConfig);
            // var barConfig1 = JSON.parse(rawbarConfig);

            const copyBarConfig0 = parseJson(toJsonStr(barConfig0));
            const copyBarConfig1 = parseJson(toJsonStr(barConfig1));

            for (i in entries) {
                var entry = entries[i];
                copyBarConfig0.data.datasets[0].data.push(entry.num);
                copyBarConfig1.data.datasets[0].data.push(entry.bytes);
                copyBarConfig0.data.labels.push(entry.label);
                copyBarConfig1.data.labels.push(entry.label);
            }
            var barCtx0 = document.getElementById("bar0-aera-" + typ).getContext("2d");
            window["myBar0" + typ] = new Chart(barCtx0, copyBarConfig0);
            var barCtx1 = document.getElementById("bar1-aera-" + typ).getContext("2d");
            window["myBra1" + typ] = new Chart(barCtx1, copyBarConfig1);
        }

        //以下是key过期时间的柱状图
        {{range $k := .ExpireStatOrder}}
            expired_barConfig1.data.datasets[0].data.push({{index $.ExpireStatNum $k}});
            expired_barConfig2.data.datasets[0].data.push({{index $.ExpireStatBytes $k}});
            expired_barConfig1.data.labels.push({{$k}});
            expired_barConfig2.data.labels.push({{$k}});
        {{end}}

        var expired_bar_Ctx1 = document.getElementById("chart-bar-expir-1").getContext("2d");
        window.my_expired_bar1 = new Chart(expired_bar_Ctx1, expired_barConfig1);
        var expired_bar_Ctx2 = document.getElementById("chart-bar-expir-2").getContext("2d");
        window.my_expired_bar2 = new Chart(expired_bar_Ctx2, expired_barConfig2);

    };

</script>

<script>
    // key元素个数分布 len level count
    var barConfig0 = {
        type: 'bar',
        data: {
            datasets: [{
                data: [],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
            }],
            xAxisID: "bigger than",
            yAxisID: "number",
            labels: []
        },
        options: {
            tPercentage: 40,
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return "有 " + context.raw + " 个key";
                        }
                    }
                }
            }
        }
    };

    // len level mem used
    var barConfig1 = {
        type: 'bar',
        data: {
            datasets: [{
                data: [],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
            }],
            xAxisID: "bigger than",
            yAxisID: "number",
            labels: []
        },
        options: {
            scales: {
                y: {
                        beginAtZero: true, // 设置 y 轴从 0 开始
                        ticks: {
                            display: true,
                            callback: function(value) {
                               return formatBytes(value); //纵坐标格式化显示
                            }
                        }
                }
            },
            tPercentage: 40,
            responsive: true,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                           return formatBytes(context.raw); // 使用格式化函数;
                        }
                    }
                }
            }
        }
    };

    // Key过期剩余时间分析（数量）
    var expired_barConfig1 = {
        type: 'bar',
        data: {
            datasets: [{
                data: [],
                backgroundColor: [
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.blue,
                ],
            }],
            labels: []
        },
        options: {
            aspectRatio: 3, //控制高度与宽度的比例
            scales: {
                y: {
                        beginAtZero: true, // 设置 y 轴从 0 开始
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                           return "有 " + formatNumber(context.raw) + " 个key"; // 使用格式化函数;
                        }
                    }
                }
            }
        }
    };

     // Key过期剩余时间分析（内存）
    var expired_barConfig2 = {
        type: 'bar',
        data: {
            datasets: [{
                data: [],
                backgroundColor: [
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.blue,
                ],
            }],
            labels: []
        },
        options: {
            aspectRatio: 3, //控制高度与宽度的比例
            scales: {
                y: {
                        beginAtZero: true, // 设置 y 轴从 0 开始
                        ticks: {
                            display: true,
                            callback: function(value) {
                               return formatBytes(value); //纵坐标格式化显示
                            }
                        }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                           return formatBytes(context.raw); // 使用格式化函数;
                        }
                    }
                }
            }
        }
    };


</script>