<div class="content-wrapper" style="min-height: 100px; height: auto; overflow: hidden">

<div class="row">
    <!--各类型key的数量-->
    <div class="col-md-3">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <div id="canvas-holder" style="width:100%">
                        <canvas id="chart-area-0" />
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--各类型key的内存-->
    <div class="col-md-3">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <div id="canvas-holder-1" style="width:100%">
                        <canvas id="chart-area-1" />
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!--len level 数量、内存分析-->
    <div class="col-md-3">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <center><strong>len level count</strong></center><br>
                    <div class="nav-tabs-custom">
                        <ul id="len-num-head" class="nav nav-tabs">
                            {{range $type, $entries := .LenLevelCount}}
                            <li {{if isFirst}} class="active" {{end}}><a href="#bar0-{{$type}}" data-toggle="tab">{{$type}}</a></li>
                            {{end}} {{$null :=clearFirst}}
                        </ul>
                        <div class="tab-content panel-body">
                            {{range $type, $entries := .LenLevelCount}}
                            <div id="bar0-{{$type}}" class="tab-pane {{if isFirst}}active{{end}}">
                                <div id="bar0-container-{{$type}}" style="width:100%">
                                    <canvas id="bar0-aera-{{$type}}" />
                                </div>
                            </div>
                            {{end}} {{$null :=clearFirst}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <center><strong>len level mem used</strong></center><br>
                    <div class="nav-tabs-custom">
                        <ul id="len-mem-head" class="nav nav-tabs">
                            {{range $type, $entries := .LenLevelCount}}
                            <li {{if isFirst}} class="active" {{end}}><a href="#bar1-{{$type}}" data-toggle="tab">{{$type}}</a></li>
                            {{end}} {{$null :=clearFirst}}
                        </ul>
                        <div class="tab-content panel-body">
                            {{range $type, $entries := .LenLevelCount}}
                            <div id="bar1-{{$type}}" class="tab-pane {{if isFirst}}active{{end}}">
                                <div id="bar1-container-{{$type}}" style="width:100%">
                                    <canvas id="bar1-aera-{{$type}}" />
                                </div>
                            </div>
                            {{end}} {{$null :=clearFirst}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <!--key 过期剩余时间分析（内存） -->
    <div class="col-md-6">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <center><strong>Key过期剩余时间分析（内存）</strong></center><br>
                    <div id="canvas-holder-3" style="width:100%;">
                        <canvas id="chart-bar-expir-1" height="150"/>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--key 过期剩余时间分析（数量） -->
    <div class="col-md-6">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <center><strong>Key过期剩余时间分析（数量）</strong></center><br>
                    <div id="canvas-holder-4" style="width:100%;">
                        <canvas id="chart-bar-expir-2" height="150"/>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <!--top100 最大keys -->
    <div class="col-md-7">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <center><strong>top {{.TopN}} bigkey (按内存)</strong></center><br>
                    <table class="table table-condensed table-hover sortable" style="word-break:break-all; word-wrap:break-all;">
                        <thead>
                            <tr style="background-color:#f1f1f1;" align="center">
                                <td class="sorttable_alpha"> Key </td>
                                <td class="sorttable_alpha" style="width:80px !important;" align="left"> Type </td>
                                <td class="sorttable_alpha" style="width:80px !important;" align="left"> Encoding </td>
                                <td style="width:100px !important;"> 占用内存 </td>
                                <td> 元素数量 </td>
                                <td class="sorttable_alpha" style="width:132px !important;"> 过期时间 </td>
                                <td class="sorttable_numeric" style="width:32px !important;"> Db </td>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $entry := .LargestKeys}}
                            <tr>
                                <td class="limited-width">{{$entry.Key}}</td>
                                <td>{{$entry.Type}}</td>
                                <td>{{$entry.Encoding}}</td>
                                <td align="right" sorttable_customkey="{{$entry.Bytes}}">{{humanizeBytes $entry.Bytes}}</td>
                                <td align="right" sorttable_customkey="{{$entry.NumOfElem}}">{{humanizeComma $entry.NumOfElem}}</td>
                                <td style="font-size:11.5px !important;" align="center">{{timestampFormat $entry.Expiration}}</td>
                                <td>{{$entry.Db}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- Key前缀（按数量）分析 -->
    <div class="col-md-5">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <center><strong>count by key prefix</strong></center><br>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs nav-justified">
                            {{range $type, $entries := .LargestKeyPrefixes}}
                            <li {{if isFirst}} class="active" {{end}}><a href="#type-{{$type}}" data-toggle="tab">{{$type}}</a></li>
                            {{end}} {{$null :=clearFirst}}
                        </ul>
                        <div class="tab-content panel-body">
                            {{range $type, $entries := .LargestKeyPrefixes}}
                            <div id="type-{{$type}}" class="tab-pane {{if isFirst}}active{{end}}">
                                <table class="table table-condensed table-hover sortable" style="word-break:break-all; word-wrap:break-all;">
                                    <thead>
                                        <tr style="background-color:#f1f1f1;">
                                            <td class="sorttable_alpha"> KeyPrefix </td>
                                            <td style="width:80px !important;"> Bytes </td>
                                            <td> NumberOfKey </td>
                                            <td> Db </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range $entry := $entries}}
                                        <tr>
                                            <td class="limited-width">{{$entry.Key}}</td>
                                            <td sorttable_customkey="{{$entry.Bytes}}">{{humanizeBytes $entry.Bytes}}</td>
                                            <td sorttable_customkey="{{$entry.Num}}">{{humanizeComma $entry.Num}}</td>
                                            <td class="limited-width48">{{$entry.Db}}</td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                            {{end}} {{$null :=clearFirst}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    <!--
    <div class="col-md-12">
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#type-bigkey" data-toggle="tab" aria-expanded="true"><strong>top 100 bigkey (按内存)</strong>></a></li>
                            <li class=""><a href="#type-prefixkey" data-toggle="tab" aria-expanded="false"><strong>count by key prefix</strong></a></li>
                        </ul>
                        <div class="tab-content panel-body">

                            <div id="type-bigkey" class="tab-pane active">
                                <table class="table table-condensed table-hover sortable" style="word-break:break-all; word-wrap:break-all;">
                                    <thead>
                                        <tr style="background-color:#f1f1f1;" align="center">
                                            <td class="sorttable_alpha" align="center"> Key </td>
                                            <td class="sorttable_alpha" style="width:80px !important;" align="left"> Type </td>
                                            <td class="sorttable_alpha" style="width:120px !important;" align="left"> Encoding </td>
                                            <td class="sorttable_alpha" style="width:100px !important;"> 占用内存 </td>
                                            <td class="sorttable_numeric" style="width:150px !important;"> 元素数量 </td>
                                            <td class="sorttable_alpha" style="width:130px !important;"> 过期时间 </td>
                                            <td class="sorttable_alpha" style="width:32px !important;"> Db </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range $entry := .LargestKeys}}
                                        <tr>
                                            <td class="limited-width">{{$entry.Key}}</td>
                                            <td>{{$entry.Type}}</td>
                                            <td>{{$entry.Encoding}}</td>
                                            <td align="right">{{humanizeBytes $entry.Bytes}}</td>
                                            <td align="right">{{humanizeComma $entry.NumOfElem}}</td>
                                            <td style="font-size:11.5px !important;" align="center">{{$entry.Expiration}}</td>
                                            <td>{{$entry.Db}}</td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>

                            <div id="type-prefixkey" class="tab-pane">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs nav-justified">
                                                {{range $type, $entries := .LargestKeyPrefixes}}
                                                <li {{if isFirst}} class="active" {{end}}><a href="#type-{{$type}}" data-toggle="tab">{{$type}}</a></li>
                                                {{end}} {{$null :=clearFirst}}
                                            </ul>
                                            <div class="tab-content panel-body">
                                                {{range $type, $entries := .LargestKeyPrefixes}}
                                                <div id="type-{{$type}}" class="tab-pane {{if isFirst}}active{{end}}">
                                                    <table class="table table-condensed table-hover sortable" style="word-break:break-all; word-wrap:break-all;">
                                                        <thead>
                                                            <tr style="background-color:#f1f1f1;">
                                                                <td class="sorttable_alpha"> KeyPrefix </td>
                                                                <td class="sorttable_alpha" style="width:100px !important;"> Bytes </td>
                                                                <td class="sorttable_numeric"> NumberOfKey </td>
                                                                <td class="sorttable_alpha" style="width:32px !important;"> Db </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{range $entry := $entries}}
                                                            <tr>
                                                                <td class="limited-width">{{$entry.Key}}</td>
                                                                <td>{{humanizeBytes $entry.Bytes}}</td>
                                                                <td>{{humanizeComma $entry.Num}}</td>
                                                                <td>{{$entry.Db}}</td>
                                                            </tr>
                                                            {{end}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {{end}} {{$null :=clearFirst}}
                                            </div>
                                        </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>-->

</div>